.info-heading {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

.info-container {
    width: 35%;
    position: relative;
    border: 1px solid #bbb;
    border-top: 10px solid rgba(255, 69, 0, 0.9);
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    font-size: 14pt;
    background-color: rgb(255, 249, 249);
}

.info-item {
    margin: 10px;
    padding: 0px 10px;
    text-align: center;
}

.info-title {
    font-size: 15pt;
    font-weight: 650;
}

.time-item {
    padding: 0px 45px;

}

.info-header {
    font-size: 28px;
    font-weight: 750;
    text-align: center;
    padding-bottom: 10px;
}

hr {
    margin: 20px;
} 

.recipe-container {
    margin: 20px 40px;
}

.recipe-link {
    font-size: 17px;
    font-family: cursive;
    padding: 10px;
    margin: 10px 0px;
}

.recipe-link > li {
    all: unset;
}

.recipe-link > li + li::before{
    content: ">";
}

.recipe-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

.recipe-img {
    width: fit-content;
}

.recipe-img > img {
    border-radius: 10px;
}


.recipe-info-container {
    font-size: 14pt;
    position: relative;
    display : inline-block;
    justify-content: space-around;
    padding: 20px;
    display: block;
}
.orange-checkbox {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: #e3e3e3;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.ingredient-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ingredient-list li {
    width: fit-content;
    display: flex;
    color:black;
    font-size:20px ;
    font-family: sans-serif;
    align-items: center;
}

.ingredient-list  span
{
    margin-left: 15px;
}

.orange-checkbox:after {
    font-family:sans-serif;
    font-weight: 900 ;
    content: "\2713";
    font-size: 20px;
    color : white;
    display: none;
}
.orange-checkbox:hover
{
    background-color: #dcd8d8;
}
.orange-checkbox:checked
{
    background-color:orangered;

}
.orange-checkbox:checked:after {
    display: block;
}


.steps {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.steps li {
    max-width: 600px;
    margin:10px 20px ;
    position: relative;
    padding-left: 40px;
    counter-increment: stepCounter;
    font-size: 20px;
}

.steps li::before {
    text-align: center;
    line-height: 20px;
    border: 3px solid orangered;
    width:20px;
    height:20px;
    border-radius: 50% ;
    content: counter(stepCounter);
    position: absolute;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    color: orangered;
}

.steps li::after {
    content : "";
    display : block;
    width: 100%;
    height: 1px;
    background : orangered;
    margin : 20px 0;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
    position: relative;
    left: -7%;
}
@keyframes bounce {
    from { 
        transform: scaleX(0); 
    }
    to { 
        transform: scaleX(0.8); 
    }
}



