body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background-color: #f7f0f0;
}

body, .cool-form, .cool-button {
    font-size: 12pt;

}
.register-background{
    background-color: orangered;
}
.background-container{
    position: relative;
    width: 1200px;
    height:  690px;
    z-index: -1;
    display: inline-block;
    /*border: 1px solid black;*/
    overflow: hidden;

}
#BackGround-image{
    position: relative;
    width: 100%;
    left: -30%;
    height : 100%;

    /*box-shadow: 5px 5px 20px rgba(0,0,0);*/
    transform: skew(-20deg);
}
.main-view {
    padding: 100px 50px 50px 50px;
}

.space {
    margin: 7px;
}

.row, .row-sp {
    display: flex;
}

.row-sp {
    justify-content: space-between;
}

a.cool-link {
    text-decoration: none;
}

a.cool-link:visited {
    color: blue;
}

a.norm-link {
    text-decoration: none;
    color: black;
}

a.norm-link:visited {
    color: black;
}

.fancy-header, .category-header {
    font-size: 27px;
    font-family: cursive;
    font-weight: 550;
}

.cool-text-container {
    border-left: 5px solid rgba(255, 69, 0, 0.9);
    font-size: 13pt;
    margin: 30px 0px;
    padding: 15px;
    max-width: 60%;
}

.navbar-container {
    position: fixed;
    width: 100%;
    height: 90px;
    box-shadow: 0px 0px 2px #ccc;
    font-size: 20px;
    z-index: 1;
    background-color: #f7f0f0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.navbar {
    width: 95%;
    height: 50%;
    padding: 30px;
}

.navbar-logo {
    margin-right: auto;
    position: relative;
    top: -90%;
}

.navbar-items {
    flex-basis: 60%;
    justify-content: center;
}

.navbar-link-item {
    display: inline-block;
    margin: 0px 20px;
    height: 25px;
    transition: all 0.15s;
}

.navbar-link-item:not(.drop-down-button):hover {
    color: orangered;
}

.navbar-search {
    height: 40px;
    position: relative;
    top: -10%;
}

.navbar-search > input[type=text] {
    width: 300px;
    margin: 0 10px;
    background-color: white;
    border-radius: 60px;
}

.navbar-search > [type=submit] {
    width: 35px;
    height: 35px;
    background-image: url(search-bar-icon.png);
    background-size: 25px;
    background-position: 5px 4px;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: -47px;
    background-color: rgb(255, 110, 57);
    border-color: rgba(0, 0, 0, 0);
}

.drop-down-menu {
    position: relative;
    display: inline-block;
}

@keyframes drop-down-fade {
    from {
        max-height: 0;
    }
    to {
        max-height: 200px;
    }
}

.drop-down-options {
   display: none;
   background-color: #fff8f8;
   box-shadow: 0 2px 4px rgba(0,0,0,0.2);
   padding: 10px 5px;
   position: absolute;
   max-height: 200px;
   overflow: auto;
   border-radius: 10px;
   animation-name: drop-down-fade;
   animation-duration: 0.3s;
   animation-iteration-count: 1;
}

.drop-down-options::-webkit-scrollbar {
    display: none;
}

.drop-down-button:hover {
    cursor: pointer;
}

.drop-down-menu:hover .drop-down-options {
    animation-play-state: running;
    display: block;
}

.cool-form {
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.cool-form:focus {
    outline: 0;
    border-color: orange;
    box-shadow: 0 0 0 5px  rgba(255, 165, 0, 0.35);
}

.form-peach:focus {
    border-color: orangered;
    box-shadow: 0 0 0 5px  rgba(255, 69, 0, 0.35)
}

.cool-button {
    padding: 7px 10px ;
    border: 1px solid orange;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
    color: orange;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
    box-sizing: border-box;
}

.cool-button:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}

.button-peach {
    border-color: orangered;
    color: orangered;
}

.button-peach:hover {
    background-color: orangered;
}

.register-view {
    position: relative;
    width: 100px;
}

.bg-image-container {
    
}


.form-container {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 60%;
    width: 20%;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
    background-color: rgb(255, 249, 249);
}

.form-header {
    text-align: center;
    font-size: 25pt;
    font-family: cursive;
    padding-bottom: 20px;   
}

.form-footer {
    padding-top: 10px;
}

.form-warning {
    padding: 10px;
    font-size: 11pt;
}

.category-header {
    margin: 0px 20px;
    font-size: 35px;
}


.card-view {
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    margin: 20px 5px 0px 5px;
}

.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    position: relative;
}

.card-fav-icon {
    width: 40px;
    height: 40px;
    border: 1px solid orangered;
    background-color: orangered;
    background-image: url("heart.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 5px;
    position: absolute;
    right: 0%;
}

.card-fav-icon:hover {
    cursor: pointer;
    background-image: url("heart_filled.png");
}

.card-fav-icon-filled {
    background-image: url("heart_filled.png");
}

.card > img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-content > h3 {
    font-size: 28px;
    margin : auto;
}

.card-content > p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    max-height: 70px;
    overflow: auto;
}

.image-input-tag {
    
}

.image-input-tag > input[type=file] {
    display: none;
}
.About-us-row{

    margin: auto;
    width: 1100px;
    padding: 10px;
    height: 600px;

}
.About-us-row > .content{
    display: flex;
}
.About-us-row > .heading{
    color: orangered;
    text-align: center;
    font-size:70px;

}

.sent{

    max-width: 60%;

}
.special-sent{
    width: 100%;
    height : 20%;
    margin : 0 auto;
    text-align: center;
}
.subheading{
    margin: 15px;
}
.content-section{
    padding:10px;
    font-size: 30px;

    font-weight:bold;
}
.icons-container{
    position: relative;

    width :90%;
    height: 40%;

}
.social_site{
    display: inline-block;
    padding: 10px;
    position: relative;

}
.icon{
    width : 50px;
}
.social-text{
    position: relative;
    top: -15px;
    left: 11px;
    font-size: 28px;
}


.image-container{
    width: 100%;
    height: 100%;
    text-shadow: 5px 5px 10px black;
}
#image{

    box-shadow: 5px 5px 10px black;

}