{% extends 'RecipeFinder/new_recipe.html' %}
{% load static %}
{% block name %}{{ recipe.name }}{% endblock %}
{% block description %}{{ recipe.description }}{% endblock %}

{% if recipe.image %}
    {% block imageURL %} {{ recipe.image.url }} {% endblock %}
{% endif %}

{% block cookTime %}{{ recipe.cookTime }}{% endblock %}
{% block prepTime %}{{ recipe.prepTime }}{% endblock %}
{% block servings %}{{ recipe.servings }}{% endblock %}

{% block carbs %}{{ recipe.carbs }}{% endblock %}
{% block fats %}{{ recipe.fats }}{% endblock %}
{% block protein %}{{ recipe.protein }}{% endblock %}

{% block ingredients %}
{% for ingredient in recipe.getIngredients %}
    <li data-name="{{ ingredient.ingredient }}" data-quantity="{{ ingredient.quantity }}" data-unit="{{ ingredient.unit.name }}">
        <span>{{ingredient.quantity}} {{ingredient.unit.name}} of {{ingredient.name}}</span>
        <button></button>
    </li>
{% endfor %}
{% endblock %}

{% block steps %}
{% for step in recipe.getSteps %}
    <li>
        <span>{{ step.content }}</span>
        <button></button>
    </li>
{% endfor %}
{% endblock %}

{% block buttons %}
<button type="button" class="danger-button bg-fnt space">Delete</button>
<button type="button" class="bland-button bg-fnt space">Cancel</button>
<button type="submit" class="cool-button bg-fnt space">Edit</button>
{% endblock %}