{% extends "RecipeFinder/layout.html" %}
{% load static %}

{% block main_view %}

{% block scripts %}
<script src="{% static 'RecipeFinder/index.js' %}"></script>
{% endblock %}

<div class="category-header">{{ header }}</div>
{% if info %}
<div class="cool-text-container">
    {{ info }}
</div>
{% endif %}
{% for category in categories %}
<div class="category-container">
    <div class="row">
        <div class="fancy-header">{{ category.header }}</div> 
        {% if category.url %}
        <a href="{{ category.url }}">
            <button class="bland-button space">See more</button>
        </a>
        {% endif %}
    </div>
    <div id="{{ category.id }}" class="card-view"></div>
</div>
{% endfor %}
{% endblock %}