{% extends 'RecipeFinder/layout.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'RecipeFinder/login.js' %}"></script>
{% endblock %}
{% block main_view %}
<div class="form-container">
    <div class="form-left-half">
        <div class="form-header">
            {% block form_header %}
            Welcome Back Chef!
            {% endblock %}
        </div>
        <form method="post" action="#" id="auth-form">
            <div class="form-fields">
                {% block form_fields %}
                <div class="form-field">
                    <input name="username" type="text" class="fancy-register-form" placeholder="Username">
                </div>
                <div class="form-field">
                    <input name="password" type="password" class="fancy-register-form" placeholder="Password">
                </div>
                {% endblock %}
            </div>
            <div class="form-footer">
                <div class="form-field">
                    <button type="submit" class="fancy-register-button space">{% block form_submit %} Login {% endblock %}</button>
                </div>
                <div class="form-warning">
                    {% block form_warning %}
                    Don't have an account yet? <a class="cool-link" href="{% url 'register' %}">Register</a>
                    {% endblock %}
                </div>
            </div>
        </form>
    </div>
    <div class="form-right-half">
        <div class="form-image-container">
            <img src="{% static 'RecipeFinder/chef.png' %}" class="centered-image">
        </div>
    </div>
    <div class="bottom-left-tools-img">
        <img src="{% static 'RecipeFinder/tools.png' %}">
    </div>
</div>
{% endblock %}