{% extends 'RecipeFinder/layout.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'RecipeFinder/category.js' %}"></script>
{% endblock %}
{% block main_view %}
<div class="recipe-container">
    <ul id="link-history"></ul>
    <div class="category-header" id="Recipe_Name">
        {{ recipe.name }}
    </div>
    <div class="stats-container">
        <div class="stat">
            <div class="stat-data">
                {{ recipe.viewsCount }}
            </div>
            <div class="stat-icon">
                <img src="{% static 'RecipeFinder/views_icon.png' %}" alt="views">
            </div>
        </div>
        <div class="stat">
            <div class="stat-data" id="likes-count">
                {{ recipe.likesCount }}
            </div>
            <div class="stat-icon">
                <img src="{% static 'RecipeFinder/likes_icon.png' %}" alt="likes">
            </div>
        </div>
    </div>
    <div class="cool-text-container" id="Recipe_Description">
        {{ recipe.description }}
    </div>
    <div class="chef-container">
        <span class="by">By</span>
        <a class="chef cool-link" href="{% url 'chef' recipe.chef %}">
            <span>{{ recipe.chef }}</span>
        </a>
    </div>
    {% if user.is_authenticated %}
    <div class="recipe-buttons-container">
        <button id="recipe-save-button" class="cool-button space">{% if recipe.liked %}Unsave{% else %}Save{% endif %}</button>
        {% if user.isAdmin %}
        <a href="{% url 'edit_recipe' recipe.id %}">
            <button id="recipe-edit-button" class="bland-button">Edit</button>
        </a>
        {% endif %}
    </div>
    {% endif %}
    <div class="recipe-img">
        <img id="recipe-image" src="{% if recipe.image %}{{ recipe.image.url }}{% else %}{% static 'RecipeFinder/food.jpg' %}{% endif %}" width="750" height="400">
    </div>
</div>
<div class="info-container">
    <div class="row-sp">
        <div class="info-item time-item">
            <div class = "info-title">Prep Time:</div>
            <div class = "info-desc" id="PrepTime">{{ recipe.prepTime }}</div>
        </div>
        <div class="info-item time-item">
            <div class="info-title">Cook Time:</div>
            <div class="info-desc" id="CookTime">{{ recipe.cookTime }}</div>
        </div>
    </div>
    <div class="row-sp">
        <div class="info-item time-item">
            <div class="info-title">Total Time:</div>
            <div class="info-desc" id="TotalTime">{{ recipe.totalTime }}</div>
        </div>
        <div class="info-item time-item">
            <div class="info-title">Servings:</div>
            <div class="info-desc" id="Servings">{{ recipe.servings }}</div>
        </div>
    </div>
    <hr>
    <div class="info-header">
        Nutrition Facts
    </div>
    <div class="row-sp">
        <div class="info-item">
            <div id="calories" class="info-title">{{ recipe.calories }}</div>
            <div class="info-desc">Calories</div>
        </div>
        <div class="info-item">
            <div id="carbs" class="info-title">{{ recipe.carbs }}</div>
            <div class="info-desc">Carbs</div>
        </div>
        <div class="info-item">
            <div id="fats" class="info-title">{{ recipe.fats }}</div>
            <div class="info-desc">Fats</div>
        </div>
        <div class="info-item">
            <div id="protein" class="info-title">{{ recipe.protein }}</div>
            <div class="info-desc">Protein</div>
        </div>
    </div>
</div>
<div class="recipe-info-container">
    <h1 class="info-heading">Ingredients</h1>
    <ul class="ingredient-list" id = "Ingredients">
       {% for ingredient in recipe.getIngredients %}
       <li><input type="checkbox" class="cool-form checkbox-bg"> <span>{{ ingredient.quantity }} {{ ingredient.unit }} of {{ ingredient.name }} </span></li>
       {% endfor %}
    </ul>
</div>

<div class="recipe-info-container">
    <h1 class="info-heading">Steps</h1>
    <ol class="cool-ol bouncy-list" id = "Steps" >
        {% for step in recipe.getSteps %}
        <li> {{ step.content }} </li>
        {% endfor %}
    </ol>
</div>
<div class="fancy-header">We think you'll also like</div>
<div id="recommendations-container" class="card-view">
</div>
{% endblock %}