{% extends 'RecipeFinder/login.html' %}
{% block scripts %}
<script src="{% static 'RecipeFinder/register.js' %}"></script>
{% endblock %}

{% block form_header %}
Welcome Chef!
{% endblock %}

{% block form_fields %}
<div class="form-field">
    <input name="username" type="text" class="fancy-register-form" placeholder="Username">
</div>
<div class="form-field">
    <input name="email" type="email" class="fancy-register-form" placeholder="Email">
</div>
<div class="form-field">
    <input name="password" type="password" class="fancy-register-form" placeholder="Password">
</div>
<div class="form-field">
    <input name="confirmation" type="password" class="fancy-register-form" placeholder="Confirm Password">
</div>
<div class="row admin-checkbox">
    <input type="checkbox" class="cool-form" name="is_admin">
    <span>I'd like to become an admin</span>
</div>
{% endblock %}

{% block form_submit %} Register {% endblock %}

{% block form_warning %}
Already have an account? <a class="cool-link" href="login.html">Login</a>
{% endblock %}
