<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/icon.png">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="static/recipe.css">
        <script src="static/script.js"></script>
        <script src="static/register.js"></script>
        <title>Simmer & Sizzle</title>
    </head>
    <body>
        <nav class="navbar-container">
            <div class="navbar row">
                <a href="index.html" class="navbar-logo">
                    <img src="static/logo.png" width="280">
                </a>
                <div class="navbar-items row">
                    <a href="index.html" class="navbar-link-item norm-link">Recipes</a>
                    <div class="drop-down-menu">
                        <a class="drop-down-button navbar-link-item norm-link">Cuisines</a>
                        <div id="cuisine-list" class="drop-down-options">
                        </div>
                    </div>
                    <a href="about.html" class="navbar-link-item norm-link">About Us</a>
                    <div class="drop-down-menu">
                        <a class="drop-down-button navbar-link-item norm-link"> Username </a>
                        <div class="drop-down-options">
                            <a href="#" class="navbar-link-item norm-link">Your Recipes</a>
                            <a href="new_recipe.html" class="navbar-link-item norm-link">Add Recipe</a>
                            <a href="favourites.html" class="navbar-link-item norm-link">Favourites</a>
                            <a href="#" class="navbar-link-item norm-link">Logout</a>
                            <a href="register.html" class="navbar-link-item norm-link">Register</a>
                            <a href="login.html" class="navbar-link-item norm-link">Login</a>
                        </div>
                    </div>
                </div>
                <form action="search.html" action="#" method="get">
                    <div class="navbar-search row">
                        <input name="q" type="text" class="cool-form form-peach" placeholder="Search">
                        <button type="submit" class="cool-button button-peach"></button>
                    </div>
                </form>
            </div>
        </nav>
        <div class="main-view">
            <!-- Page contents go here -->
            <div class="form-container">
                <div class="form-left-half">
                    <div class="form-header">
                        Welcome Chef!
                    </div>
                    <form method="post" action="#" id="auth-form">
                        <div class="form-fields">
                            <div class="form-field">
                                <input name="username" type="text" class="fancy-register-form" placeholder="Username">
                            </div>
                            <div class="form-field">
                                <input name="email" type="email" class="fancy-register-form" placeholder="Email">
                            </div>
                            <div class="form-field">
                                <input name="password" type="password" class="fancy-register-form" placeholder="Password">
                            </div>
                            <div class="form-field">
                                <input name="confirmation" type="password" class="fancy-register-form" placeholder="Confirm Password">
                            </div>
                            <div class="row admin-checkbox">
                                <input type="checkbox" class="cool-form" name="is_admin">
                                <span>I'd like to become an admin</span>
                            </div>
                        </div>
                        <div class="form-footer">
                            <div class="form-field">
                                <button type="submit" class="fancy-register-button space">Register</button>
                            </div>
                            <div class="form-warning">
                                Already have an account? <a class="cool-link" href="login.html">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-right-half">
                    <div class="form-image-container">
                        <img src="static/chef.png">
                    </div>
                </div>
                <div class="bottom-left-tools-img">
                    <img src="static/tools.png">
                </div>
            </div>
            <div id="error-container"></div>
        </div>
    </body>
</html>