{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="category-container">
    {% if linkHistory %}
    <ul class="link-history">
        {% for link in linkHistory %}
        <li><a href="{{ link.ref }}" class="navbar-link-item norm-link">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="fancy-header">{{ category.name }}</div>
    {% if info %}
    <div class="cool-text-container">
        {{ info }}
    </div>
    {% endif %}
    <div class="card-view">
        {% for recipe in category.recipes %}
        <div class="card-container">
            <div class="card">
                <button data-id="{{ recipe.id }}" class="card-fav-button {% if recipe.liked %} card-fav-button-filled {% endif %}"></button>
                <img src="{% if recipe.imageURL %} {{recipe.imageURL}} {% else %} {% static 'food.jpg' %}{% endif %}" alt="simmer & sizzle">
                <div class="card-content">
                    <h3> {{ recipe.name }} </h3>
                    <p>
                        {{ recipe.description|slice:":100" }}
                        {% if recipe.description|length > 100 %}...{% endif %}
                    </p>
                    <a href="{% url 'recipe' recipe.id %}">
                        <button class="cool-button button-peach">Read More</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}