<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="icon.png">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="recipe.css">
        <script src="script.js"></script>
        <title>Simmer & Sizzle</title>
    </head>
    <body>
        <div class="main-view">
            <div class="category-header">Cuisine name</div>
            <div class="cool-text-container">
                This is where some info about the cuisine will live
            </div>
            
            <div class="category-container">
                <div class="row">
                    <div class="fancy-header">Course name</div> 
                    <button class="bland-button space">See more</button>
                </div>
                <div class="card-view">
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="category-container">
                <div class="row">
                    <div class="fancy-header">Course name</div> 
                    <button class="bland-button space">See more</button>
                </div>
                <div class="card-view">
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-container">
                <div class="row">
                    <div class="fancy-header">Course name</div> 
                    <button class="bland-button space">See more</button>
                </div>
                <div class="card-view">
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="food.jpg" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3>Recipe name</h3>
                                <p>
                                    Recipe description goes here...
                                </p>
                                <button class="cool-button button-peach">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>