{% extends "layout.html" %}
{% load static %}

{% block body %}
{% for category in categories %}
<div class="category-container">
    <div class="row">
        <div class="fancy-header">{{ category.name }}</div> 
        <button class="bland-button space">See more</button>
    </div>
    <div class="card-view">
        {% for recipe in category.recipes %}
        <div class="card-container">
            <div class="card">
                <button class="card-fav-button"></button>
                <img src="
                {% if recipe.image.url %}
                {{ recipe.image.url }}
                {% else %}
                {% static 'food.jpg' %}
                {% endif %}" alt="simmer & sizzle">
                <div class="card-content">
                    <h3> {{ recipe.name }} </h3>
                    <p>
                        {{ recipe.description|slice:":100" }}
                        {% if recipe.description|length > 100 %}...{% endif %}
                    </p>
                    <a href="{% url 'recipe' recipe.id %}">
                        <button class="cool-button button-peach">Read More</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}