{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'icon.png' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'recipe.css' %}">
        <script src="{% static 'script.js' %}"></script>
        <title>{% block title %} Simmer & Sizzle {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar-container">
            <div class="navbar row">
                <a href="{% url 'index' %}" class="navbar-logo">
                    <img src="{% static 'logo.png' %}" width="280">
                </a>
                <div class="navbar-items row">
                    <a href="#" class="navbar-link-item norm-link">Recipes</a>
                    <div class="drop-down-menu">
                        <a class="drop-down-button navbar-link-item norm-link">Cuisines</a>
                        <div class="drop-down-options">
                            <a href="#" class="navbar-link-item norm-link">Egyptian</a>
                            <a href="#" class="navbar-link-item norm-link">Italian</a>
                            <a href="#" class="navbar-link-item norm-link">Chinese</a>
                            <a href="#" class="navbar-link-item norm-link">Mexican</a>
                            <a href="#" class="navbar-link-item norm-link">Indian</a>
                            <a href="#" class="navbar-link-item norm-link">Japanese</a>
                            <a href="#" class="navbar-link-item norm-link">French</a>
                            <a href="#" class="navbar-link-item norm-link">Canadian</a>
                        </div>
                    </div>
                    <a href="#" class="navbar-link-item norm-link">About Us</a>
                    <div class="drop-down-menu">
                        <a class="drop-down-button navbar-link-item norm-link">{% if user.is_authenticated %} {{ user.username }} {% else %} Anonymous {% endif %} </a>
                        <div class="drop-down-options">
                            {% if user.is_authenticated %}
                            {% if user.isAdmin %}
                            <a href="#" class="navbar-link-item norm-link">Your Recipes</a>
                            <span> <a href="{% url 'new_recipe' %}" class="navbar-link-item norm-link">Add Recipe</a> </span>
                            {% endif %}
                            <a href="#" class="navbar-link-item norm-link">Favourites</a>
                            <a href="{% url 'logout' %}" class="navbar-link-item norm-link">Logout</a>
                            {% else %}
                            <a href="{% url 'register' %}" class="navbar-link-item norm-link">Register</a>
                            <a href="{% url 'login' %}" class="navbar-link-item norm-link">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <form method="get">
                    <div class="navbar-search row">
                        <input name="q" type="text" class="cool-form form-peach" placeholder="Search">
                        <button type="submit" class="cool-button button-peach"></button>
                    </div>
                </form>
            </div>
        </nav>

        <div class="main-view">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>