<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="icon.png">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="recipe.css">
        <script src="script.js"></script>
        <title>Simmer & Sizzle</title>
    </head>
    <body>
        <div class="main-view">
            <div class="form-container">
        <div class="form-left-half">
            <div class="form-header">
                Welcome Back Chef!
            </div>
            <form method="post" action="#">
                <div class="form-fields">
                    <div class="form-field">
                        <input type="text" class="fancy-register-form" placeholder="Username">
                    </div>
                    <div class="form-field">
                        <input type="password" class="fancy-register-form" placeholder="Password">
                    </div>
                </div>
                <div class="form-footer">
                    <div class="form-field">
                        <button type="submit" class="fancy-register-button space">Login</button>
                    </div>
                    <div class="form-warning">
                        Don't have an account yet? <a class="cool-link" href="register.html">Register</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-right-half">
            <div class="form-image-container">
                <img src="chef.png" class="centered-image">
            </div>
        </div>
        <div class="bottom-left-tools-img">
            <img src="tools.png">
        </div>
    </div>
        </div>
    </body>
</html>