{% extends "layout.html" %}
{% load static %}
        {% block body %}
        <div class="main-view">    
            <div class="recipe-view">
                <div class="recipe-container">
                    <ul class="link-history">
                        <li><a href="#" class="navbar-link-item norm-link">{{ recipe.cuisine }}</a></li>
                        <li><a href="#" class="navbar-link-item norm-link">{{ recipe.course }}</a></li>
                        <li><a href="#" class="navbar-link-item norm-link">{{ recipe.name }}</a></li>
                    </ul>
                    <div class="category-header">
                        {{ recipe.name }}
                    </div>
                    <div class="cool-text-container">
                        {{ recipe.description }}
                    </div>
                    <div class="recipe-buttons-container">
                        <button class="cool-button space">Save</button>
                        <button class="bland-button">Edit</button>
                    </div>
                    <div class="recipe-img">
                        <img src="{{ recipe.image.url }}" width="750" height="400">
                    </div>
                </div>
                <div class="info-container">
                    <div class="row-sp">
                        <div class="info-item time-item">
                            <div class="info-title">Prep Time:</div>
                            <div class="info-desc">{{ recipe.prepTime }} mins</div>
                        </div>
                        <div class="info-item time-item">
                            <div class="info-title">Cook Time:</div>
                            <div class="info-desc">{{ recipe.cookTime }} mins</div>
                        </div>
                    </div>
                    <div class="row-sp">
                        <div class="info-item time-item">
                            <div class="info-title">Total Time:</div>
                            <div class="info-desc">{{ recipe.totalTime }} mins</div>
                        </div>
                        <div class="info-item time-item">
                            <div class="info-title">Servings:</div>
                            <div class="info-desc">{{ recipe.servings }} mins</div>
                        </div>
                    </div>
                    <hr>
                    <div class="info-header">
                        Nutrition Facts
                    </div>
                    <div class="row-sp">
                        <div class="info-item">
                            <div class="info-title">{{ recipe.calories }}</div>
                            <div class="info-desc">Calories</div>
                        </div>
                        <div class="info-item">
                            <div class="info-title">{{ recipe.carbs }}g</div>
                            <div class="info-desc">Carbs</div>
                        </div>
                        <div class="info-item">
                            <div class="info-title"> {{ recipe.fats }}g</div>
                            <div class="info-desc">Fats</div>
                        </div>
                        <div class="info-item">
                            <div class="info-title"> {{ recipe.protein }}g </div>
                            <div class="info-desc">Protein</div>
                        </div>
                    </div>
                </div>
                <div class="recipe-info-container">
                    <h1 class="info-heading">Ingredients</h1>
                    <ul class="ingredient-list">
                        {% for ingredient in ingredients %}
                         <li><input type="checkbox" class="cool-form checkbox-bg"> <span>
                            {{ ingredient.quantity }} {{ ingredient.ingredient.unit }} of {{ ingredient.ingredient.name }}
                         </span></li>
                        {% endfor %}
                    </ul>
                </div>
    
                <div class="recipe-info-container">
                    <h1 class="info-heading">Steps</h1>
                    <ol class="cool-ol bouncy-list">
                        {% for step in steps %}
                        <li>
                            {{ step.content }}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="recommendations-container">
                <div class="fancy-header">We think you'll also like</div>
                <div class="card-view">
                    {% for recipe in recipe.recommendations %}
                    <div class="card-container">
                        <div class="card">
                            <button class="card-fav-button"></button>
                            <img src="{{ recipe.image.url }}" alt="simmer & sizzle">
                            <div class="card-content">
                                <h3> {{ recipe.name }} </h3>
                                <p>
                                    {{ recipe.description|slice:":100" }}
                                    {% if recipe.description.length > 100 %}
                                    ...
                                    {% endif %}
                                </p>
                                <a href="{% url 'recipe' recipe.id %}">
                                    <button class="cool-button button-peach">Read More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock body %}