{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="form-container">
    <div class="form-left-half">
        <div class="form-header">
            Welcome Chef!
        </div>
        <form method="post" action="#">
            <div class="form-fields">
                <div class="form-field">
                    <input name="username" type="text" class="fancy-register-form" placeholder="Username">
                </div>
                <div class="form-field">
                    <input name="email" type="email" class="fancy-register-form" placeholder="Email">
                </div>
                <div class="form-field">
                    <input name="pass" type="password" class="fancy-register-form" placeholder="Password">
                </div>
                <div class="form-field">
                    <input name="pass_confirm" type="password" class="fancy-register-form" placeholder="Confirm Password">
                </div>
                <div class="row admin-checkbox">
                    <input type="checkbox" class="cool-form" name="is_admin">
                    <span>I'd like to become an admin</span>
                </div>
            </div>
            <div class="form-footer">
                <div class="form-field">
                    <button type="submit" class="fancy-register-button space">Register</button>
                </div>
                <div class="form-warning">
                    Already have an account? <a class="cool-link" href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </form>
    </div>
    <div class="form-right-half">
        <div class="form-image-container">
            <img src="{% static 'chef.png' %}">
        </div>
    </div>
    <div class="bottom-left-tools-img">
        <img src="{% static 'tools.png' %}">
    </div>
</div>
{% endblock %}